{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
  <!-- BOOKING HISTORY -->
<section class="body">

    <div class="container text-center mt-5 py-5">
        <h3>User Booking History</h3>
        <hr>
        <p>Browse Your Latest Booked Events</p>
      </div>

    <div class="container cart-page">
      <table class="table table-bordered">
        <thead>
            <tr>
                <th>Events</th>
                <th>Date Boooked</th>
                <th>Time Booked</th>
                <th>Booking ID</th>
                <th>Tickets Purchased</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="static/Images/albumcover2.jpg">
                        <div>
                            <p>Keshi Requiem WORLD TOUR</p>
                            <small>Location : 'Venue'</small>
                            <a href="">Cancel</a>
                        </div>
                    </div>

                </td>
                <td>DD/MM/YY</td>
                <td>24:00</td>
                <td>#abc1234567</td>
                <td>3</td>
                <td>$00:00</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="static/Images/albumcover3.jpg">
                        <div>
                            <p>'EVENTS NAME'</p>
                            <small>'Location' : 'Venue'</small>
                            <a href="">Cancel</a>
                        </div>
                    </div>

                </td>
                <td>DD/MM/YY</td>
                <td>24:00</td>
                <td>#abc1234567</td>
                <td>2</td>
                <td>$00:00</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="static/Images/albumcover4.jpg">
                        <div>
                            <p>'EVENT NAME'</p>
                            <small>'Location' : 'Venue'</small>
                            <a href="">Cancel</a>
                        </div>
                    </div>

                </td>
                <td>DD/MM/YY</td>
                <td>24:00</td>
                <td>#abc1234567</td>
                <td>2</td>
                <td>$00:00</td>
            </tr>
        </table>

        <div class="total-price">

            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>$00.00</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$00.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$00.00</td>
                </tr>
            </table>

        </div>

    </div>


</section>


{% endblock %}